body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@font-face {
  font-family: 'Jetbrains';
  src: local('Jetbrains'), url(./assets/fonts/JetBrainsMonoNL-Regular.ttf) format('woff2');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans'), url(./assets/fonts/OpenSans-Regular.ttf) format('woff2');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather'), url(./assets/fonts/Merriweather.ttf) format('woff2');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'Libertine';
  src: local('Libertine'), url(./assets/fonts/LinLibertine_RI.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}


